.group-1, .group-2, .group-3, .group-4, .group-5, 
.group-6, .group-7, .group-8
{ max-width: 100%; background-size: 100%; background-image: url('png.png'); }
 
.group-5 { background-position: 0 0%; background-size: 100%; }
.group-8 { background-position: 0 14.285714%; background-size: 100%; }
.group-7 { background-position: 0 28.571429%; background-size: 100%; }
.group-6 { background-position: 0 42.857143%; background-size: 100%; }
.group-1 { background-position: 0 57.142857%; background-size: 100%; }
.group-4 { background-position: 0 71.428571%; background-size: 100%; }
.group-3 { background-position: 0 85.714286%; background-size: 100%; }
.group-2 { background-position: 0 100%; background-size: 100%; }