@media only screen and (max-width: 932px)
    .images-form
        grid-template-columns: repeat(3, 1fr)
        justify-items: center
    .creating
        margin-top: 100px
    .show-card
        grid-template-columns: repeat(3, 1fr)
        justify-items: center
@media only screen and (max-width: 860px)
    .creating__icons
        grid-template-columns: repeat(6, 1fr)
    .about__cards
        grid-template-columns: repeat(2, 1fr)
    .social-media 
        margin: 0 20px
        &__link
            margin-top: 30px



@media only screen and (max-width: 720px)
    .footer
        padding: 20px 7%
        &__container
            flex-direction: column
        &__text
            min-width: 0
            margin: auto
            margin-top: 30px
        &__link
            text-align: center
            margin: 20px 
    .creating__icons 
        grid-template-columns: repeat(5, 1fr)
    .show-card 
        grid-template-columns: repeat(2, 1fr)
    .main-text 
        grid-template-columns: 4fr 1fr 4fr

@media only screen and (max-width: 680px)
    .images-form 
        grid-template-columns: repeat(2, 1fr)
    .creating 
        display: flex
        flex-wrap: wrap
        flex-direction: column-reverse
        &__image
            margin: 50px auto
    .creating__inputs .input-form, .creating__icons
        width: 100%
        
@media only screen and (max-width: 550px)
    .main-text 
        grid-template-columns: 1fr
        .row
            margin-top: 40px
    .show-card
        grid-row-gap: 0
        padding: 0
@media only screen and (max-width: 470px)
    .footer
        &__text
            min-width: 0
            margin: auto
            margin-top: 30px
        &__link
            text-align: center
            margin: 20px 
    .form__link
        width: 120px

@media only screen and (max-width: 440px)
    .wrapper
        padding: 0
    .about__cards
        grid-template-columns: 1fr
    .about__cards
        .creating__image
            margin: 10px auto
    .form__link
        width: 110px
    .show-card, .images-form
        grid-template-columns: 1fr 1fr

@media only screen and (max-width: 400px)
    .show-card__card 
        max-width: 170px
        max-height: 240px
    .show-card__image-form, .show-card__picture 
        width: 152px
        height: 157px
    .image__form-text_bottom 
        bottom: 30px
    .show-card__form
        height: 165px
@media only screen and (max-width: 340px)
    .show-card__card 
        max-width: 160px
        max-height: 230px
    .show-card__image-form, .show-card__picture 
        width: 142px
        height: 147px
    .image__form-text_bottom 
        bottom: 20px
    .show-card__form
        height: 155px
